@charset "UTF-8";



.form-color{
    font-size: 180%;
}

.bootstrap-header-image{
    height: auto;
    width: 30%;
}

.delete-button{
    background-color: #ff5555;
    color: white;
}

.dual-times{
    background-color: #ff5555;
    color: white;
}

.delete-multi{
    background-color: #ff5555;
    color: white; 
}

.add-fields{
    width: 45%;
}

.get-html{
    background-color: #008a1c;
    color: #fff;
}